/*--- CSS PAGE ---*/
html {
    margin: 10px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
/*--- NAV CSS ---*/
nav {
    width: 100%;
    color: black;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 14px;
    letter-spacing: 2px;
}
#navLogo {
    padding-top: 10px;
}
#logo img {
    max-width: 60%;
    height: auto;
}
nav a {
    color: white;
    text-decoration: none;
}
nav table {
    width: 100%;
}
nav table td {
    width: 20%;
    background-color: black;
    border: 1px solid white;
    height: 40px;
    vertical-align: middle;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 22px;
    letter-spacing: 7px;
}
#navLinks td {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#navLinks td:hover {
    background-color: white;
}
#phoneNumber {
    position: relative;
    float: left;
    top: 0px;
    left: 8px;
    margin-bottom: 6px;
}
#phoneNumber p {
    display: inline-block;
    padding-right: 10px;
}
#socialMedia {
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
    padding: 0px;
    margin: 0px;
}
#socialMedia li {
    
}
#socialMedia img {
    max-width: 50%;
    height: auto;
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1.4em 0;
    border: none;
    background: #000000;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(255, 255, 255)), color-stop(0.1, rgb(80, 80, 80)), color-stop(0.9, rgb(80, 80, 80)), color-stop(1, rgb(255, 255, 255)));
    background-image: -moz-linear-gradient( left center, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 10%, rgb(221, 221, 221) 90%, rgb(255, 255, 255) 100%);
}
/*--- END NAV CSS ---*/
/*--- START MAIN CSS ---*/
main {

}
#container {
    height: 450px;
    margin-bottom: 20px;
}
#mainContent {
    position: relative;
    float: left;
    height: 100%;
    width: 89%;
}
#vertical {
    position: relative;
    float: right;
    height: 100%;
    width: 10%;
    background-color: black;
    color: white;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#vertical:hover {
    background-color: white;
}
#vertical {
    top: 0px;
    bottom: 0px;
}
#verticalName {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#verticalNamePricing {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 48px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#verticalNameStylists {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#containerScroll {
    overflow:auto;
}
.priceTitle{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 22px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#mainContent li{
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#mainContent #subText{
    font-size: 10px;
    color: gray;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#mainContent #priceDisclaim{
    font-size: 10px;
    color: gray;
    text-align: center;
    padding-top: 40px;
}
#mainContent hr{
    clear: both; 
    float: none; 
    width: 100%; 
    height: 2px;
    margin: 1.4em 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}


#mainLeft {
    position: relative;
    float: left;
    height: 100%;
    width: 54%;
    border: 1px orange solid;
}

#mainRight {
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    color: black;
    text-align: center;
    position: relative;
    float: right;
    height: 100%;
    width: 45%;
    font-size: 12px;
    border: 1px pink solid;
    overflow:auto;
}
#mainRight li{
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    color: black;
    font-size: 12px;
}


#submitButton {
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    text-align: center;
}








footer {
    width: 100%;
    position: relative;
    height: 24px;
    bottom: 0px;
    left: 0px;
    color: darkgray;
    background: black;
    font-size: 10px;
    text-align: center;
}
#copyright {
    vertical-align: middle;
    padding-top: 6px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
footer a {
    text-decoration: none;
    color: darkgray;
}
footer a:hover {
    color: darkgray;
}
footer a.active {
    color: darkgray;
}
/*--- END MAIN CSS ---*/
