/*--- Main CSS ---*/
html {
    margin: 10px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
/*--- Navigation bar CSS ---*/
nav {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 14px;
    letter-spacing: 2px;
}
#navLogo {
    padding-top: 10px;
}
#logo img {
    max-width: 60%;
    height: auto;
}
nav a {
    text-decoration: none;
}
nav table {
    width: 100%;
}
nav table td {
    width: 20%;
    background-color: black;
    border: 1px solid white;
    height: 40px;
    vertical-align: middle;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 22px;
    letter-spacing: 7px;
}
#navLinks td {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#navLinks td > a {
    color: white !important;
}
#navLinks td:hover {
    background-color: white;
    cursor: hand;
}
#navLinks td:hover > a {
    color: black !important;
}
#phoneNumber {
    color: black;
    position: relative;
    float: left;
    top: 0px;
    left: 8px;
    margin-bottom: 6px;
}
#phoneNumber p {
    display: inline-block;
    padding-right: 10px;
}
#socialMedia {
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
    padding: 0px;
    margin: 0px;
}
#socialMedia img {
    max-width: 50%;
    height: auto;
}
/*--- END NAV CSS ---*/

/*--- START MAIN CSS ---*/
#container {
    height: 450px;
    margin-bottom: 20px;
}
hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1.4em 0;
    border: none;
    background: #000000;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(255, 255, 255)), color-stop(0.1, rgb(80, 80, 80)), color-stop(0.9, rgb(80, 80, 80)), color-stop(1, rgb(255, 255, 255)));
    background-image: -moz-linear-gradient( left center, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 10%, rgb(221, 221, 221) 90%, rgb(255, 255, 255) 100%);
}
#mainContent {
    position: relative;
    float: left;
    height: 100%;
    width: 89%;
}
#vertical {
    position: relative;
    float: right;
    height: 100%;
    width: 10%;
    background-color: black;
    color: white;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#vertical:hover {
    background-color: white;
}
#vertical {
    top: 0px;
    bottom: 0px;
}
#verticalName {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

/*Pricing and Stylist page CSS*/
#salonPhoto{
    text-align: center;
    padding: 40px 0px;
}
#salonPhoto img {
    box-shadow: 1px .5px 3px 2px rgba(10, 10, 0, 0.4);
}
#verticalNamePricing {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 48px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#verticalNameStylists {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#containerScroll {
    overflow:auto;
    height: 450px;
}
.priceTitle{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 22px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#lorealLogo {
    text-align: center;
}
#mainContent li{
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#mainContent #subText{
    font-size: 10px;
    color: gray;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
#mainContent #priceDisclaim{
    font-size: 10px;
    color: gray;
    text-align: center;
    padding-top: 40px;
}


/*Gallery CSS*/
#verticalNameGallery {
    position: relative;
    top: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
.wrap {
    width:100%;
    height: 100%;
    overflow:auto;
    padding: 0 5%;
}
.relef {
    position: relative;
    float: left;
}
.relri {
    position: relative;
    float: right;
}
    .segment {
        width:100%;
        height:auto;
    }
    .row {
        height:auto;
        width:100%;
    }
    .box{
        height:auto;
        width:auto;
        margin:1px;
    }
    .bigbox {
        height:auto;
        width:auto;
        margin:1px;
    }
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(90%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale:hover {
  filter: none;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
  -webkit-filter: grayscale(0%);
}

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.9);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 4%;
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}


/*Container hr CSS*/
#mainContent hr{
    clear: both; 
    float: none; 
    width: 100%; 
    height: 2px;
    margin: 1.4em 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

/*Contact Page Specific CSS*/
#mainLeft {
    position: relative;
    float: left;
    height: 100%;
    width: 54%;
    text-align: center;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 12px;
    color: black;
}
#googleMaps {
    width: 80%;
    height: 70%;
    margin: 0 auto 0 auto;
    background: black;
    box-shadow: 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}
#mainRight{
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    color: black;
    text-align: center;
    position: relative;
    float: right;
    height: 100%;
    width: 45%;
    font-size: 16px;
    overflow:auto;
}
#mainRight li{
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    color: black;
    font-size: 16px;
}
#submitButton {
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    text-align: center;
}
#contactTitle {
    text-decoration: underline;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
form {
    width: 100%;
    height: auto;
    text-align: left;
    padding: 3%;
}
*:focus {
    outline: none;
}
button {
    background-color: black;
    color: white;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 10px;
    text-transform: none;
    border: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100px;
    height: 30px;
}
button:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
    cursor: pointer;
}
h2 {
    text-align: center;
    padding: 10px;
}
#contactForm, #contactForm input, #contactForm textarea {
    width:100%;
}
#contactForm textarea {
    resize:vertical;
}
#contactForm td:first-child{
    width: 100px;
    text-align: right;
    vertical-align: top;
}
#contactForm table { 
    border-spacing: 10px;
    border-collapse: separate;
}
input[type="text"], textarea[type="text"] { 
    border: 1px solid black; 
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 16px;
    box-shadow: 0px .5px 2px 1px rgba(10, 10, 0, 0.2);
    -moz-box-shadow: rgba(10,10,0, 0.2) 0px 0px 8px; 
    -webkit-box-shadow: rgba(10,10,0, 0.2) 0px 0px 8px; 
}
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 8px; 
}

/*CSS landing page email confirmation*/
#landingPage {
    text-align: center;
    color: black;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 18px;
    vertical-align: middle;
    padding: 10% 0;
}
#craftedBy {
    text-align: center;
    color: black;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    font-size: 12px;
    vertical-align: middle;
    padding: 10% 0;
}



/*Footer CSS*/
footer {
    width: 100%;
    position: relative;
    height: 24px;
    bottom: 0px;
    left: 0px;
    color: white;
    background: black;
    font-size: 10px;
    text-align: center;
}
#copyright {
    vertical-align: middle;
    padding-top: 6px;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: white;
}
footer a.active {
    color: white;
}
/*--- END MAIN CSS ---*/